integer data type(int)
float data type(flaot)
Boolean data type(bool)
complex data type
string(str)
list
Tuple
set
Dictionary

In [2]:
#integer
a = 50
print(a)

print(type(a))

50
<class 'int'>

In [3]:
#float

b = 5.98
print(b)

print(type(b))

5.98
<class 'float'>

In [4]:
c = 10.00
print(c)

print(type(c))

10.0
<class 'float'>

In [5]:
#Boolean Data

b1 = True
b2 = False

print(type(b1))
print(type(b2))

<class 'bool'>
<class 'bool'>

In [6]:
#Complex data

x = 25 + 16.0j
print(type(x))

<class 'complex'>

In [7]:
print(x.real)

25.0

In [8]:
print(x.imag)

16.0

In [9]:
y = 2 - 7j

print(type(y))

<class 'complex'>

In [10]:
#string data

# string is a sequence of unicode characters
# Muli line string

name = "AI Ki PaathShala"

print(name)
print(type(name))

AI Ki PaathShala
<class 'str'>

In [11]:
name = 'AI Ki PaathShala'

print(name)
print(type(name))

AI Ki PaathShala
<class 'str'>

In [12]:
name = AI Ki PaathShala

print(name)
print(type(name))

SyntaxError: invalid syntax (348721653.py, line 1)

In [13]:
post = "Hgt673()$$%^^&&"

print(post)
print(type(post))

Hgt673()$$%^^&&
<class 'str'>

In [16]:
rank1 = 7654
print(rank1)
print(type(rank1))
rank2 = '7654'
print(rank2)
print(type(rank2))

7654
<class 'int'>
7654
<class 'str'>

In [17]:
s = "This is an online Artificial Intelligence and Machine Learning Programme"
print(s)
print(type(s))

This is an online Artificial Intelligence and Machine Learning Programme
<class 'str'>

In [18]:
s[5]

'i'

In [19]:
s[0]

'T'

In [20]:
s[4]

' '

In [21]:
name1 = '''
My name is Anup
your name is Shanker
Her name is Ruchi
All of us play football'''

print(type(name1))
print(name1)

<class 'str'>

My name is Anup
your name is Shanker
Her name is Ruchi
All of us play football

In [22]:
name1 #\n = new line

'\nMy name is Anup\nyour name is Shanker\nHer name is Ruchi\nAll of us play football'

In [ ]:
#List
#List is an ordered sequence of items
# Elements inside the list can be of same data type of different data type
# List is mutable data

In [24]:
a1 = [1,2,3,4]
print(type(a))

<class 'list'>

In [25]:
a2 = [2.4,6.9,546.9,98.07]
print(type(a2))

<class 'list'>

In [26]:
a3 = [False, True, True, True]
print(type(a3))

<class 'list'>

In [27]:
a4 = [ 1 +2j, 6 -8j, 7+6j]
print(type(a4))

<class 'list'>

In [28]:
a5 = ["five", "anup", "apple", 'Mango']
print(type(a5))

<class 'list'>

In [29]:
a6 = [23, 67.76, False, 1 + 3j, "Paathshala"]
print(type(a6))

<class 'list'>

In [30]:
a6[0]

23

In [31]:
a6[4]

'Paathshala'

In [32]:
a6[3]

(1+3j)

In [33]:
a6

[23, 67.76, False, (1+3j), 'Paathshala']

In [34]:
a6[1] = "Banana"

In [35]:
a6

[23, 'Banana', False, (1+3j), 'Paathshala']

In [ ]:
#Tuple

#Tuple is an ordered sequence of items
# Elements inside the tuple can be of same data type or  different data type
# Tuple is immutable data

In [37]:
t1 = (1,5,7.98, "DL")
print(t1)
print(type(t1))

(1, 5, 7.98, 'DL')
<class 'tuple'>

In [38]:
t1[0]

1

In [40]:
t1[3]

'DL'

In [41]:
t1[4]

IndexError: tuple index out of range

In [42]:
t1

(1, 5, 7.98, 'DL')

In [43]:
t1[1] = "Banana" # Immutability

TypeError: 'tuple' object does not support item assignment

In [ ]:
#set
# set is an unordered collection of unique data
# {}

In [44]:
s1 = {10, 20, 100, 40, 10, 40, 6, 6, 7, 10, 10}

In [45]:
print(s1)
print(type(s1))

{100, 6, 7, 40, 10, 20}
<class 'set'>

In [46]:
s1

{6, 7, 10, 20, 40, 100}

In [47]:
s1[0]

TypeError: 'set' object is not subscriptable

In [48]:
s1

{6, 7, 10, 20, 40, 100}

In [49]:
s1

{6, 7, 10, 20, 40, 100}

In [50]:
print(s1)

{100, 6, 7, 40, 10, 20}

In [51]:
s1[2] = "Banana"

TypeError: 'set' object does not support item assignment

In [ ]:
# Dictionary is also an unordered collection of Key-value pairs
# {key:value }

In [52]:
d = {'a' : "apple", 'b' : "ball", 'c' : "cat", 'd' : 'Dog'}
print(d)
print(type(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'Dog'}
<class 'dict'>

In [53]:
d[0]

KeyError: 0

In [54]:
d['a']

'apple'

In [55]:
d['d']

'Dog'